@for (pageContent of getPageContent; track pageContent.contentFile) {

        @if(pageContent.contentType == "contentPage")
        {

            <app-main-content [fileToLoad] = "pageContent.contentFile"/>

        }

        @else if(pageContent.contentType == "imageGallery")
        {

            <app-image-gallery [fileToLoad] = "pageContent.contentFile" />

        }

        @else if(pageContent.contentType == "news")
        {

            <app-news [fileToLoad] = "pageContent.contentFile" />

        }

        @else if(pageContent.contentType == "imageDisplay")
        {

            <app-image-display [fileToLoad] = "pageContent.contentFile"/>

        }

        @else if(pageContent.contentType == "faq")
        {

            <app-faq [fileToLoad] = "pageContent.contentFile"/>

        }

        @else if(pageContent.contentType == "form")
        {

            <app-form-generator [fileToLoad] = "pageContent.contentFile"/>

        }

        @else if(pageContent.contentType == "imageSlider")
        {

            <app-image-slider [fileToLoad] = "pageContent.contentFile"/>

        }

        @else if(pageContent.contentType == "tabs")
        {
        
            <app-content-tabs />
        
        }

        @else
        {

            <p>Select a component to display.</p> 

        }
    
}