<ul class="navbar-nav ms-auto">

  @for(headerMenuItem of getHeaderMenuItems; track headerMenuItem.id) 
  {
    <li class="nav-item" [class.dropdown]="headerMenuItem.subMenu">
      <a *ngIf="!headerMenuItem.subMenu" class="nav-link" (click)="fileToLoad(headerMenuItem)">{{ headerMenuItem.title }}</a>
      <a *ngIf="headerMenuItem.subMenu" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ headerMenuItem.title }}
      </a>

      @if(headerMenuItem.subMenu)
      {
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li *ngFor="let subItem of headerMenuItem.subMenu">
            <a class="dropdown-item" href="#" (click)="fileToLoad(subItem)">{{ subItem.title }}</a>
          </li>
        </ul>
      }
      
    </li>
  }
</ul>
