<div class="container mt-4">
  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let post of blogPosts">
      <div class="card h-100">
        <img [src]="post.imageUrl" class="card-img-top" [alt]="post.title" />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content | slice:0:100 }}...</p>
          <div (click)="loadBlog(post.url)" class="btn btn-primary">Read More</div>
        </div>
        <div class="card-footer text-muted">
          <small>By {{ post.author }} on {{ post.date }}</small>  
        </div>
      </div>
    </div>
  </div>
</div>