// Override Bootstrap Variables
$primary: purple; // Change primary color
$secondary: #33c4ff; // Change secondary color
$body-bg: #f8f9fa; // Change body background color
$light: #f8f9fa; // Change light color
$body-color: #212529; // Change body text color
$white: #ffffff; // Change white color
$gray-500: #e0e0e0; // Change gray color
$gray-200: #e9ecef; // Change gray color
$headertextcolor: black; // Change header text color
$font-family-sans-serif: 'Roboto', sans-serif; // Change default font