// Import Bootstrap SCSS
@import "./color-scheme.scss";

#home
{}

#home #home-content0
{}

#home #home-content0 #homeContentOne
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#home #home-content1
{
    background-color: lightgrey;
}

#home #home-content1 #homeContentTwo
{
   
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

 



  
// Import Bootstrap SCSS
@import "bootstrap/scss/bootstrap";


